/* Orbitron Font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background: #020617;
  color: white;
}

/* Background */
.home {
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #020617,
    #0f172a,
    #020617
  );

  background-size: 400% 400%;

  animation: bgMove 15s ease infinite;
}

@keyframes bgMove {
  0% { background-position: 0% }
  50% { background-position: 100% }
  100% { background-position: 0% }
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

/* Logo */
.logo {
  width: 65px;

  filter:
    drop-shadow(0 0 10px #00f7ff)
    drop-shadow(0 0 20px #00f7ff);
}

/* Buttons */
.start-btn {

  font-family: Orbitron;
  letter-spacing: 2px;

  padding: 12px 30px;

  border-radius: 30px;

  border: none;

  background:
    linear-gradient(
      135deg,
      #00f7ff,
      #7c3aed
    );

  color: white;

  cursor: pointer;

  box-shadow:
    0 0 15px #00f7ff;

  transition: 0.3s;
}

.start-btn.large {

  margin-top: 30px;

  padding: 18px 40px;

  font-size: 18px;
}

/* Hero layout */
.hero {

  display: flex;

  justify-content: space-around;

  align-items: center;

  height: 80vh;
}

/* Hero text */
.hero-left h1 {

  font-size: 40px;

  font-weight: 800;

  letter-spacing: 4px;

  line-height: 1.1;

  background:
    linear-gradient(
      90deg,
      #00f7ff,
      #7c3aed,
      #00ffa6
    );

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 20px rgba(0,247,255,0.8);
}

/* Image card */
.image-card {

  padding: 20px;

  border-radius: 20px;

  background:
    rgba(255,255,255,0.05);

  backdrop-filter: blur(20px);

  box-shadow:
    0 0 20px rgba(0,247,255,0.3);

  transition: 0.4s;
}

.image-card:hover {

  box-shadow:
    0 0 40px rgba(0,247,255,0.9);
}

.image-card img {

  width: 350px;

  border-radius: 15px;
}